body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
}

.List-container .single-list h4 {
  margin-top: 0px;
  padding-top: 5px;
}

.App header {
  border-bottom: 3px solid red;
  display: flex;
}

.menu {
  
  height: 80px;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-top: -15px;
  color:white;
  background-color: black;
}

.firstmenu {

  width:100%;
  display: flex;
  list-style-type: none;
}

.firstmenu li:hover .submenu {
 display: block;
  /* position: absolute; */
  top:100%;
  left:0;
  padding: 0;
  z-index: 10000;
  background-color: red;
   
}

.firstmenu li:hover .submenu li a {
  color:white; 
}

.firstmenu li {
  width: 215px;
  margin-bottom: -25px;
}

.submenu {
  display: initial;
  list-style-type: none;
  display: none;
  
  top:100%;
  left:0;
  padding: 0;
  z-index: 10000;
   
}

.submenu li a:first-child {
  margin-top: -10px;
}

.submenu li a:hover {
  text-decoration-line:underline;
}
.menu a {
  padding: 10px;
  /* border: 1px solid black; */
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
  color: white;

}

.firstmenu li:hover {
  color:white;
  background-color: red;
}

.logo {
  width: 50%;
  text-align: left;
  height: 65px;
  font-size: 3em;
  padding-left: 10px;
  float: left;
  background-color: black;
}

.logo a {
  text-decoration: none;
    color: white;
}
.logo span {
  font-weight: bold;
    color: red;
}

.main-container {
  height: 100vh;
  text-align: center;
}

.image {
  width: 1000px;
}

.logohome {
  width: 100%;
  height: 65px;
  font-size: 3em;
  padding-left: 10px;
}

.logohome span {
  font-weight: bold;
    color: red;
}